<?xml version="1.0" encoding="utf-8" ?>
<configs>
  <config edition="FirstEdition" name="Default">
    <constants>
      <constant id="CardWidth" value="354" />
      <constant id="CardHeight" value="494" />
      <constant id="InnerRectMargin" value="16" />
      
      <constant id="TextOffset.Y.Linux" value="2" />
      <constant id="TextOffset.Y.MacOS" value="2" />
      
      <constant id="MissionAffiliation.Color.Bajoran" value="#9f4f81" />
      <constant id="MissionAffiliation.Color.Borg" value="#72716f" />
      <constant id="MissionAffiliation.Color.Cardassian" value="#4e5f8a" />
      <constant id="MissionAffiliation.Color.Dominion" value="#a67d0f" />
      <constant id="MissionAffiliation.Color.Federation" value="#3bbde9" />
      <constant id="MissionAffiliation.Color.Ferengi" value="#e77f23" />
      <constant id="MissionAffiliation.Color.Hirogen" value="#0c3562" />
      <constant id="MissionAffiliation.Color.Kazon" value="#7a3031" />
      <constant id="MissionAffiliation.Color.Klingon" value="#c82d2a" />
      <constant id="MissionAffiliation.Color.Neutral" value="#6d6f6f" />
      <constant id="MissionAffiliation.Color.Non-Aligned" value="#dec02b" />
      <constant id="MissionAffiliation.Color.Romulan" value="#91cdac" />
      <constant id="MissionAffiliation.Color.Starfleet" value="#005f81" />
      <constant id="MissionAffiliation.Color.Vidiian" value="#6c6e30" />
      <constant id="MissionAffiliation.Color.Vulcan" value="#c18155" />
    </constants>
    <enums>
      <enum id="Affiliation" values="None|Bajoran|Borg|Cardassian|Dominion|Federation|Ferengi|Hirogen|Kazon|Klingon|Neutral|Non-Aligned|Romulan|Starfleet|Vidiian|Vulcan" />
      <enum id="TypedTextBox" values="ThreeLoreThreeGametext|TwoLoreFourGametext|OneLoreFiveGametext|SevenGametext" />
      <enum id="QTypedTextBox" values="OneLoreSevenGametext|TwoLoreSixGametext|ThreeLoreFiveGametext|FourLoreFourGametext" />
      <enum id="MissionTextBox" values="TwoLoreTwoGametext|TwoLoreThreeGametext" />
      <enum id="RarityTextBox" values="Standard|Extended" />
    </enums>
    <images>
      <image id="Border" path="Assets/FirstEdition/Default/Border" enum="true" />
      <image id="InnerBorder" path="Assets/FirstEdition/Default/InnerBorder.png" x="16" y="15" />
      <image id="ArtBorder" path="Assets/FirstEdition/Default/ArtBorder" x="16" y="15" />
      <image id="TypedTitleBar" path="Assets/FirstEdition/Default/TypedTitleBar.png" x="16" y="15" />
      <image id="TypedTitle" path="Assets/FirstEdition/Default/TypedTitle" x="16" y="15" />
      <image id="PropertyLogo" path="Assets/FirstEdition/Default/PropertyLogo" enum="true" optional="true" custom="true" />
      <image id="ExpansionIcon" path="Assets/FirstEdition/Default/ExpansionIcon" enum="true" optional="true" custom="true" />
      <image id="TypedTextBox" path="Assets/FirstEdition/Default/TypedTextBox" x="16" y="15" />
      <image id="MissionTextBox" path="Assets/FirstEdition/Default/MissionTextBox" x="16" y="15"/>
      <image id="MissionAffiliation" path="Assets/FirstEdition/Default/MissionAffiliation" />
    </images>
    <imageboxes>
      <imagebox id="ArtBox.Small" x="49" y="94" width="255" height="175" />
      <imagebox id="ArtBox.Medium" x="49" y="94" width="255" height="184" />
      <imagebox id="ArtBox.Large" x="49" y="94" width="255" height="192" />
      <imagebox id="ArtBox.ExtraLarge" x="22" y="22" width="310" height="450" />
      <imagebox id="ArtBox.Full" x="16" y="16" width="322" height="462" />

      <imagebox id="PropertyLogo" x="176" y="15" width="161" height="80" />
      
      <imagebox id="TypedTextBox.ExpansionIcon" x="288" y="303" width="18" height="18" />
      <imagebox id="QTypedTextBox.ExpansionIcon" x="288" y="303" width="18" height="18" />
      <imagebox id="MissionTextBox.TwoLoreTwoGametext.ExpansionIcon" x="297" y="333" width="18" height="18" />
      <imagebox id="MissionTextBox.TwoLoreThreeGametext.ExpansionIcon" x="297" y="313" width="18" height="18" />
      
      <imagebox id="MissionAffiliation.Player.1-1" x="122" y="419" width="62" height="23" />
      
      <imagebox id="MissionAffiliation.Player.1-2" x="84" y="419" width="62" height="23" />
      <imagebox id="MissionAffiliation.Player.2-2" x="159" y="419" width="62" height="23" />
      
      <imagebox id="MissionAffiliation.Player.1-3" x="47" y="419" width="62" height="23" />
      <imagebox id="MissionAffiliation.Player.2-3" x="122" y="419" width="62" height="23" />
      <imagebox id="MissionAffiliation.Player.3-3" x="197" y="419" width="62" height="23" />
      
      <imagebox id="MissionAffiliation.Player.1-4" x="48" y="419" width="44" height="23" />
      <imagebox id="MissionAffiliation.Player.2-4" x="103" y="419" width="44" height="23" />
      <imagebox id="MissionAffiliation.Player.3-4" x="158" y="419" width="44" height="23" />
      <imagebox id="MissionAffiliation.Player.4-4" x="213" y="419" width="44" height="23" />

      <imagebox id="MissionAffiliation.Player.1-5" x="47" y="419" width="34" height="23" />
      <imagebox id="MissionAffiliation.Player.2-5" x="92" y="419" width="34" height="23" />
      <imagebox id="MissionAffiliation.Player.3-5" x="136" y="419" width="34" height="23" />
      <imagebox id="MissionAffiliation.Player.4-5" x="181" y="419" width="34" height="23" />
      <imagebox id="MissionAffiliation.Player.5-5" x="225" y="419" width="34" height="23" />
      
      <imagebox id="MissionAffiliation.Opponent.1-1" x="302" y="47" width="10" height="25" />
      
      <imagebox id="MissionAffiliation.Opponent.1-2" x="309" y="47" width="10" height="25" />
      <imagebox id="MissionAffiliation.Opponent.2-2" x="295" y="47" width="10" height="25" />
      
      <imagebox id="MissionAffiliation.Opponent.1-3" x="316" y="47" width="10" height="25" />
      <imagebox id="MissionAffiliation.Opponent.2-3" x="302" y="47" width="10" height="25" />
      <imagebox id="MissionAffiliation.Opponent.3-3" x="288" y="47" width="10" height="25" />

      <imagebox id="MissionAffiliation.Opponent.1-4" x="318.5" y="47" width="6.5" height="25" />
      <imagebox id="MissionAffiliation.Opponent.2-4" x="308.5" y="47" width="6.5" height="25" />
      <imagebox id="MissionAffiliation.Opponent.3-4" x="298.5" y="47" width="6.5" height="25" />
      <imagebox id="MissionAffiliation.Opponent.4-4" x="288.5" y="47" width="6.5" height="25" />

      <imagebox id="MissionAffiliation.Opponent.1-5" x="320" y="47" width="5.5" height="25" />
      <imagebox id="MissionAffiliation.Opponent.2-5" x="312" y="47" width="5.5" height="25" />
      <imagebox id="MissionAffiliation.Opponent.3-5" x="304" y="47" width="5.5" height="25" />
      <imagebox id="MissionAffiliation.Opponent.4-5" x="296" y="47" width="5.5" height="25" />
      <imagebox id="MissionAffiliation.Opponent.5-5" x="288" y="47" width="5.5" height="25" />
    </imageboxes>
    <textboxes>
      <textbox id="TypedTextBox.Title" font="VerbSpacing" size="16" caps="true" align="center" x="46" y="304" width="261" height="17" />
      
      <textbox id="TypedTextBox.ThreeLoreThreeGametext.Lore" font="Lore" size="13.8" x="62" y="330" width="242" height="50" />
      <textbox id="TypedTextBox.ThreeLoreThreeGametext.Gametext" font="Gametext" size="13.4" x="62" y="407" width="242" height="50" />
      
      <textbox id="TypedTextBox.TwoLoreFourGametext.Lore" font="Lore" size="13.8" x="58" y="330" width="246" height="34" />
      <textbox id="TypedTextBox.TwoLoreFourGametext.Gametext" font="Gametext" size="13.4" x="58" y="390" width="246" height="66" />
      
      <textbox id="TypedTextBox.OneLoreFiveGametext.Lore" font="Lore" size="13.8" x="58" y="330" width="246" height="17" />
      <textbox id="TypedTextBox.OneLoreFiveGametext.Gametext" font="Gametext" size="13.4" x="58" y="373" width="246" height="81" />
      
      <textbox id="TypedTextBox.SevenGametext.Gametext" font="Gametext" size="13.4" x="58" y="330" width="246" height="116" />

      <textbox id="Typed.RarityTextBox.Standard.Rarity" font="Skill" size="8" caps="true" align="center" x="295" y="466" width="24" height="13" />
      
      <textbox id="QTypedTextBox.Title" font="VerbSpacing" size="16" align="center" color="white" caps="true" x="46" y="304" width="261" height="17" />
      
      <textbox id="QTypedTextBox.OneLoreSevenGametext.Lore" font="Lore" size="13.2" color="white" x="71" y="327" width="222" height="17" />
      <textbox id="QTypedTextBox.OneLoreSevenGametext.Gametext" font="Gametext" color="white" size="13.4" x="58" y="343" width="246" height="112" />
      
      <textbox id="QTypedTextBox.TwoLoreSixGametext.Lore" font="Lore" size="13.2" color="white" x="71" y="327" width="222" height="34" />
      <textbox id="QTypedTextBox.TwoLoreSixGametext.Gametext" font="Gametext" color="white" size="13.4" x="58" y="360" width="246" height="95" />
      
      <textbox id="QTypedTextBox.ThreeLoreFiveGametext.Lore" font="Lore" size="13.2" color="white" x="71" y="327" width="222" height="50" />
      <textbox id="QTypedTextBox.ThreeLoreFiveGametext.Gametext" font="Gametext" color="white" size="13.4" x="58" y="376" width="246" height="81" />
      
      <textbox id="QTypedTextBox.FourLoreFourGametext.Lore" font="Lore" size="13.2" color="white" x="71" y="327" width="222" height="65" />
      <textbox id="QTypedTextBox.FourLoreFourGametext.Gametext" font="Gametext" color="white" size="13.4" x="58" y="391" width="246" height="66" />
      
      <textbox id="MissionTextBox.TwoLoreTwoGametext.Title" font="VerbSpacing" color="white" size="24" align="center" x="35" y="301" width="284" height="27" />
      <textbox id="MissionTextBox.TwoLoreThreeGametext.Title" font="VerbSpacing" color="white" size="24" align="center" x="35" y="281" width="284" height="27" />

      <textbox id="MissionTextBox.Player.Span" font="Gametext" color="white" size="20" align="center" x="168" y="452" width="20" height="20" />
      <textbox id="MissionTextBox.Opponent.Span" font="Gametext" color="white" size="20" align="center" rotate="180" x="188" y="42" width="20" height="20" />
      
      <textbox id="ArtBox.Medium.Copyright" font="Lore" color="white" size="9.2" caps="true" x="313" y="270" width="170" height="13" rotate="-90" />
      <textbox id="ArtBox.ExtraLarge.Copyright" font="Lore" color="white" size="9.2" caps="true" x="313" y="454" width="150" height="13" rotate="-90" />
      <textbox id="ArtBox.Full.Copyright" font="Lore" color="white" size="9.2" caps="true" x="323" y="452" width="150" height="13" rotate="-90" />
    </textboxes>
  </config>
</configs>
